###########################
# Project-specific .gitignore
###########################

# Python bytecode and cache

app/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Python environment
.venv/
.history/app
.env



# VSCode / local history
.history/
venv

# Output folders
transcripts/
transcripts.py
youtube_transcript.py

# Ignore Docker-related files in app
.dockerignore
audio_*.mp3
audio_*.wav
